* {
  text-decoration: none !important;
  font-family: 'brandon-grotesque', sans-serif !important;
}

.App {
  text-align: center;
}

.App div h1 {
  font-family: 'brandon-grotesque', sans-serif;
}

body {
  background-color: #9ADCF7;
  height: 700px;
}

