@import url(https://use.typekit.net/jvy1gir.css);

body {
  text-decoration: none !important;
  font-family: 'brandon-grotesque', sans-serif !important;
}

.App {
  text-align: center;
}

.App div h1 {
  font-family: 'brandon-grotesque', sans-serif;
}

